<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.voxe.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- TODO remove permission when releasing -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".TheVoxeApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/app_name"
            android:name="org.voxe.android.webview.SelectCandidatesActivity_" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/select_theme"
            android:name="org.voxe.android.webview.SelectTagActivity_" />
        <activity android:name="org.voxe.android.webview.CompareCanditatesActivity_" />
        <activity
            android:label="@string/proposition_details"
            android:name="org.voxe.android.webview.ShowPropositionActivity_" />

        <receiver android:name="org.voxe.android.data.SetAlarmBootReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.voxe.android.data.StartElectionServiceAlarmReceiver" />

        <service
            android:exported="false"
            android:name="org.voxe.android.data.UpdateElectionService" />
    </application>

</manifest>