<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.voxe.android"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".VoxeApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >
        <activity
            android:name="org.voxe.android.tag.SelectTagActivity_"
            android:label="@string/select_tag" />
        <activity
            android:name="org.voxe.android.candidates.SelectCandidatesActivity_"
            android:label="@string/candidates" />
        <activity android:name="org.voxe.android.comparison.ComparisonActivity_" />
        <activity
            android:name="org.voxe.android.loading.LoadingActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.voxe.android.proposition.ShowPropositionActivity_"
            android:label="@string/proposition_details" />

        <service
            android:name="org.voxe.android.data.UpdateElectionService_"
            android:exported="false" />

        <meta-data
            android:name="capptain:reportLocation"
            android:value="true" />

        <service
            android:name="com.ubikod.capptain.android.service.CapptainService"
            android:label="VoxeService"
            android:process=":Capptain" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.ubikod.capptain.ICapptainService" />

                <data android:scheme="capptain" />
            </intent-filter>

            <meta-data
                android:name="capptain:api:level"
                android:value="11" />
            <meta-data
                android:name="capptain:api:id"
                android:value="b6a5b1113175bf391e442a8653876b84" />
        </service>

        <meta-data
            android:name="capptain:track:browser:enabled"
            android:value="false" />

        <receiver android:name="com.ubikod.capptain.android.sdk.track.CapptainTrackReceiver" >
            <intent-filter>
                <action android:name="com.ubikod.capptain.intent.action.APPID_GOT" />
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity android:name="com.ubikod.capptain.android.sdk.track.CapptainTrackActivity" >
            <intent-filter>
                <data android:scheme="capptain.org.voxe.android" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>