<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joinplato.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.joinplato.android.TheVoxeApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/app_name"
            android:name="com.joinplato.android.dashboard.DashboardActivity_" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/candidates"
            android:name="com.joinplato.android.candidates.CandidateListActivity_" />
        <activity
            android:label="@string/candidate"
            android:name="com.joinplato.android.candidates.CandidateActivity_" />
        <activity
            android:label="@string/compare"
            android:name="com.joinplato.android.programs.ProgramsActivity_" />
        <activity
            android:label="@string/quizz"
            android:name="com.joinplato.android.quizz.QuizzActivity_" />
        <activity
            android:label="@string/select_compare"
            android:name="com.joinplato.android.programs.SelectCandidatesActivity_" />

        <receiver android:name="com.joinplato.android.data.SetAlarmBootReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.joinplato.android.data.StartElectionServiceAlarmReceiver" />

        <service
            android:exported="false"
            android:name="com.joinplato.android.data.UpdateElectionService" />
    </application>

</manifest>